max-width: 767px {
    
}

pre {
    background-color: #323232;
    border-top-right-radius: 20px;
    border: 1px solid #151515;
    border-top: 3mm #38279d solid;
    width: 300px;
}

code {
    position: relative;
    top: -10px;
    left: -50px;
    color: #9d9d9d;
}
